* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
}

.timeSelect,
.player,
.soundPicker {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 80%;
  justify-content: space-evenly;
}

.player {
  position: relative;
}

.player svg {
  height: 50%;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.timeDisplay {
  bottom: 10%;
  color: white;
  font-size: 50px;
  position: absolute;
}

.videoBg {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.videoBg video {
  min-height: 100%;
  min-width: 100%;
}

.timeSelect button,
.soundPicker button {
  background: none;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  height: 60px;
  transition: all 0.5s ease;
  width: 200px;
}

.timeSelect button:hover {
  background: white;
  color: black;
}

.soundPicker button {
  border: none;
  border-radius: 50%;
  height: 120px;
  padding: 30px;
  width: 120px;
}

.soundPicker button:nth-child(1) {
  background-color: #4972a1;
}

.soundPicker button:nth-child(2) {
  background-color: #a14f49;
}

.soundPicker button img {
  height: 100%;
}

.player img {
  cursor: pointer;
}

.customButtonWrapper {
  align-items: center;
  bottom: 50px;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  left: 50px;
  position: fixed;
}

.customButton {
  align-items: center;
  background-color: transparent;
  display: flex;
  padding: 10px;
}

.customButton input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid white;
  color: white;
  font-size: 2rem;
  height: 40px;
  width: 50px;
}

.customButton p {
  color: white;
  font-size: 2rem;
  white-space: pre;
}

.addButton {
  background-color: transparent;
  border: 0;
  border-left: 1px solid white;
  height: 100%;
  width: 40px;
}

.addButton button {
  background-color: transparent;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  padding: 10px;
}
